/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.square-container {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-template-rows: 30vw;
  grid-gap: 1.5vw;
  padding: 1.5vw;
  background-color: gray;
}

.square {
  background-color: lightgreen;
}

body {
  margin: 0; /* remove default margins */
}



<style>
body {
  margin: 5vw;
  padding: 5vw;
}
div {
  height: 25vw;
  width: 25vw;
  border-style: solid;
  background: tomato;
  display: inline-block;
  text-align: center;
  line-height: 25vw;
  font-size: 20vw;
  margin-right: -4px;
  position: relative;
  border-color: white;
}


div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  background: rgba(200, 200, 200, 0.6);
  transition: all 0.4s;
}
div:hover:before {
  background: rgba(200, 200, 200, 0);
}

h2 {
  color: black;
  border-style: solid;
}
</style>



<h1>Welcome#index </h1>
<h2>hello world</h2>
<div>1</div>
<div>2</div>
<div>3</div>
<div>4</div>
<div>5</div>
<div>6</div>
<div>7</div>
<div>8</div>
<div>9</div>

